.about__wrap {
  background-color: #000;

  .about__small_title {
    padding: 2vw 0 1vw 1vw;
    color: #e418ff;
    line-height: 1.5;

    span {
      font-family: "Aldrich", sans-serif;
    }

    p {
      font-family: "GoYangIlSan";
      letter-spacing: 0.17vw;
    }
  }

  .line {
    width: 100%;
    height: 30px;
    position: relative;
    top: 0;
    left: 1vw;
    background-image: url(../../image/about__line.svg);
    background-repeat: no-repeat;
  }

  .about__top__text {
    color: #fff;
    font-size: 40px;
    margin-left: 2vw;
    margin-top: -1.8vw;
    font-weight: 100;
  }
}

.about__img {
  display: flex;
  flex-wrap: wrap;

  > div {
    &:nth-child(1) {
      margin-left: 13.8889vw;
    }

    &:nth-child(2) {
      margin-left: 62vw;
    }
    &:nth-child(3) {
      margin-left: 34.7222vw;
    }
    &:nth-child(4) {
      margin-left: 57vw;
    }
    &:nth-child(5) {
      margin-left: 18vw;
    }
    img {
      margin-top: 18.0556vw;
      width: 30.5556vw;
      height: 40.2778vw;
    }

    p {
      margin-top: 1.3889vw;
      color: #e418ff;
    }
  }

  .about__main__text {
    display: flex;
    font-size: 20.8333vw;
    font-family: "Antonio", sans-serif;
    color: #fff;
    z-index: 10;
    margin-top: -180vw;
    margin-left: 20vw;
  }
}
