#about {
  background-color: #170619;
  padding: 4vw;

  h2 {
    font-size: 10vw;
    line-height: 0.9;
    color: #ea3cfd;
    text-transform: uppercase;
    font-family: "Orbitron";
    padding-top: 10vw;
    font-weight: 100;
  }
  .line__top,
  .line__bottom {
    width: 100%;
    height: 2px;
    background-color: #ea3cfd;
    display: block;
    margin-top: 50px;
    position: relative;
  }
  .line__top::before {
    content: "";
    height: 20px;
    width: 2px;
    background-color: #ea3cfd;
    position: absolute;
    left: 0;
    top: 0;
  }
  .line__bottom::after {
    content: "";
    height: 20px;
    width: 2px;
    background-color: #ea3cfd;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .about__item {
    display: flex;
    position: relative;

    .img__box1,
    .img__box2,
    .img__box3 {
      position: absolute;
      background-color: #ea3cfd4e;
      text-align: center;
      top: 40%;
      border: 3px solid #ea3cfd;
      border-radius: 15px;

      img {
        width: 13vw;
        height: 13vw;
        padding: 1vw 1vw 0 1vw;
        background-position: center center;
        object-fit: center;
        background-size: cover;
        padding: 1vw;
      }

      span {
        display: inline-block;
        margin-top: -1vw;
        color: #fff;
        background-color: #ea3cfd;
        font-family: "Antonio", sans-serif;
        font-size: 1.5vw;
        padding: 0.3vw;
      }
    }

    .img__box2 {
      left: 18%;
    }

    .img__box3 {
      left: 36%;
    }
  }
  .box {
    width: 40vw;
    border: 1px solid #ea3cfd;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #ea3cfd4e;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    margin-left: 50vw;
    font-family: "SCoreDream";
    .left {
      width: 20%;
      text-align: center;

      span {
        background-color: #ea3cfd;
        color: #000;
        text-transform: uppercase;
        padding: 0px 8px;
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
      }
      em {
        color: #ea3cfd;
        display: block;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .right {
      width: 75%;

      h3 {
        font-size: 20px;
        color: #fff;
        margin-bottom: 10px;
      }
      p {
        color: #ccc;
        font-family: "SCoreDream";
      }
    }
  }
}
