#Allwork {
  width: 100%;
  height: 100vh;

  h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 4vw;
    color: #4be1a4;
    margin-left: 2vw;
  }

  .title__line {
    width: 98%;
    height: 5px;
    background-color: #4be1a4;
    display: block;
    margin-top: 1vw;
    position: relative;
    margin-left: 2vw;

    &::before {
      content: "";
      height: 20px;
      width: 5px;
      background-color: #4be1a4;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .work__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000;

    .allwork__item {
      z-index: 1;
      font-family: "Antonio", sans-serif;
      color: #fff;
      display: flex;
      justify-content: space-between;
      padding-left: 3vw;
      padding-right: 3vw;
      margin-top: 1vw;
      margin-bottom: 1vw;
      gap: 1.5rem;

      .script__Item {
        width: 24vw;
        position: relative;
        display: block;
        background: hsla(0, 0%, 100%, 0.3);

        &:hover {
          opacity: 1;
          background-color: rgba(75, 225, 164, 0.5);
        }
      }

      .Item_background,
      .script__Item {
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 225ms;
      }

      .Item_background {
        position: absolute;
        inset: 3px;
        z-index: 10;
        opacity: 1;
        background-color: rgba(6, 17, 13, 0.2);
      }

      .Item_inner {
        position: relative;
        z-index: 20;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem;
        overflow: hidden;
      }

      .Item_imageHolder {
        position: relative;
        margin-bottom: 0.75rem;
        --tw-bg-opacity: 1;
        background-color: rgb(0 0 0 / var(--tw-bg-opacity));
        padding-top: 133%;
        border-radius: 0.25rem;
      }

      .Item_image {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 0.125rem;
        background-position: center center;
        background-size: cover;
      }
      .workbox__bottom {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 2vw;
        color: #fff;

        .first__text {
          display: flex;
          justify-content: space-between;
          /* margin-top: 0.5vw; */

          .work__number {
            background-color: #4be1a4;
            padding-left: 0.5vw;
            padding-right: 0.5vw;
          }
        }

        .second__text {
          align-items: center;

          .work__title {
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 0.5vw;
          }
        }
        .workbox__line {
          border-bottom: 3px solid #4be1a4;
          margin-right: 1vw;
        }
      }
    }
  }
}
