#Ending {
  width: 100%;
  height: 100vw;

  .line {
    width: 100%;
    height: 3px;
    margin: 0 3vw;
    background: #e418ff;
    position: relative;

    &::after {
      content: "";
      width: 2px;
      height: 20px;
      position: absolute;
      background-color: #e418ff;
      top: 3px;
      left: 0;
    }
  }
}
