.modal__pink {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 3%;
  width: 48vw;
  height: 38vw;
  border: 3px solid #ff49b8;
  background-color: #000;
  z-index: 10;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-family: "SCoreDream";

  .modal__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    h3 {
      color: #fff;
      font-family: "Antonio", sans-serif;
      font-size: 1.5vw;
      margin-left: 1vw;
    }

    button {
      font-size: 1.3vw;
      width: 8vw;
      height: 2vw;
      padding-right: 0.5vw;
      padding-left: 0.5vw;
      margin-right: 10px;
      font-family: "Antonio", sans-serif;
      background-color: rgba(255, 73, 184, 0.3);
      border: 2px solid #ff49b8;
      color: #fff;
      line-height: 50%;
      cursor: pointer;
    }
  }
  .top__line {
    background-image: url(../assets/image/modal/top__line_pink.svg);
    width: 100vw;
    height: 10px;
    position: absolute;
    top: 3vw;
    left: 1vw;
    background-repeat: no-repeat;
  }

  .modal__cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    .modal__item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      margin-left: 3.125vw;

      h2 {
        font-size: 2vw;
        font-family: "Antonio", sans-serif;
        color: #fff;
        margin-bottom: 1.5vw;
        margin-top: 1.5vw;
      }

      .line {
        width: 70%;
        height: 2px;
        background-color: #ff49b8;
      }

      .chart {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin-top: 1vw;
          .text {
            text-transform: uppercase;
            font-family: "Antonio", sans-serif;
            font-size: 1.4vw;
            color: #fff;
            margin-bottom: 1vw;
          }
        }
        .chart__stick {
          margin-top: 1.2vw;
          margin-left: 2.5vw;
          .first__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: #fff;
            margin-bottom: 18px;
          }

          .second__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 30%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
          .third__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 70%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }

      p {
        color: #fff;
        font-size: 1vw;
        margin-top: 1.2vw;
        line-height: 1.5;
      }
    }
  }
}

.modal__org {
  font-family: "SCoreDream";
  opacity: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 3%;
  width: 48vw;
  height: 38vw;
  border: 3px solid #f46900;
  background-color: #000;
  z-index: 10;
  overflow: hidden;
  justify-content: center;

  .modal__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    h3 {
      color: #fff;
      font-family: "Antonio", sans-serif;
      font-size: 1.5vw;
      margin-left: 1vw;
    }

    button {
      font-size: 1.3vw;
      width: 8vw;
      height: 2vw;
      padding-right: 0.5vw;
      padding-left: 0.5vw;
      margin-right: 10px;
      font-family: "Antonio", sans-serif;
      background-color: rgba(244, 105, 0, 0.3);
      border: 2px solid #f46900;
      color: #fff;
      line-height: 50%;
      cursor: pointer;
    }
  }
  .top__line {
    background-image: url(../assets/image/modal/top__line_org.svg);
    width: 100vw;
    height: 10px;
    position: absolute;
    top: 3vw;
    left: 1vw;
    background-repeat: no-repeat;
  }

  .modal__cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .modal__item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      margin-left: 3.125vw;

      h2 {
        font-size: 2vw;
        font-family: "Antonio", sans-serif;
        color: #fff;
        margin-bottom: 1.5vw;
        margin-top: 1.5vw;
      }

      .line {
        width: 70%;
        height: 2px;
        background-color: #f46900;
      }

      .chart {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin-top: 1vw;
          .text {
            text-transform: uppercase;
            font-family: "Antonio", sans-serif;
            font-size: 1.4vw;
            color: #fff;
            margin-bottom: 1vw;
          }
        }
        .chart__stick {
          margin-top: 1.2vw;
          margin-left: 2.5vw;
          .first__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: #fff;
            margin-bottom: 18px;
          }

          .second__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 30%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
          .third__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 70%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }

      p {
        color: #fff;
        font-size: 1vw;
        margin-top: 1.2vw;
        line-height: 1.5;
      }
    }
  }
}

.modal__yel {
  font-family: "SCoreDream";
  // opacity: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 3%;
  width: 48vw;
  height: 38vw;
  border: 3px solid #d7fb01;
  background-color: #000;
  z-index: 10;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .modal__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    h3 {
      color: #fff;
      font-family: "Antonio", sans-serif;
      font-size: 1.5vw;
      margin-left: 1vw;
    }

    button {
      font-size: 1.3vw;
      width: 8vw;
      height: 2vw;
      padding-right: 0.5vw;
      padding-left: 0.5vw;
      margin-right: 10px;
      font-family: "Antonio", sans-serif;
      background-color: rgba(215, 251, 1, 0.3);
      border: 2px solid #d7fb01;
      color: #fff;
      line-height: 50%;
      cursor: pointer;
    }
  }
  .top__line {
    background-image: url(../assets/image/modal/top__line_yel.svg);
    width: 100vw;
    height: 10px;
    position: absolute;
    top: 3vw;
    left: 1vw;
    background-repeat: no-repeat;
  }

  .modal__cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    .modal__item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      margin-left: 3.125vw;

      h2 {
        font-size: 2vw;
        font-family: "Antonio", sans-serif;
        color: #fff;
        margin-bottom: 1.5vw;
        margin-top: 1.5vw;
      }

      .line {
        width: 70%;
        height: 2px;
        background-color: #d7fb01;
      }

      .chart {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin-top: 1vw;
          .text {
            text-transform: uppercase;
            font-family: "Antonio", sans-serif;
            font-size: 1.4vw;
            color: #fff;
            margin-bottom: 1vw;
          }
        }
        .chart__stick {
          margin-top: 1.2vw;
          margin-left: 2.5vw;
          .first__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: #fff;
            margin-bottom: 18px;
          }

          .second__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 30%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
          .third__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 70%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }

      p {
        color: #fff;
        font-size: 1vw;
        margin-top: 1.2vw;
        line-height: 1.5;
      }
    }
  }
}

.modal__mint {
  font-family: "SCoreDream";
  // opacity: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 3%;
  width: 48vw;
  height: 38vw;
  border: 3px solid #4be1a4;
  background-color: #000;
  z-index: 10;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .modal__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    h3 {
      color: #fff;
      font-family: "Antonio", sans-serif;
      font-size: 1.5vw;
      margin-left: 1vw;
    }

    button {
      font-size: 1.3vw;
      width: 8vw;
      height: 2vw;
      padding-right: 0.5vw;
      padding-left: 0.5vw;
      margin-right: 10px;
      font-family: "Antonio", sans-serif;
      background-color: rgba(75, 225, 164, 0.3);
      border: 2px solid #4be1a4;
      color: #fff;
      line-height: 50%;
      cursor: pointer;
    }
  }
  .top__line {
    background-image: url(../assets/image/modal/top__line_mint.svg);
    width: 100vw;
    height: 10px;
    position: absolute;
    top: 3vw;
    left: 1vw;
    background-repeat: no-repeat;
  }

  .modal__cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    .modal__item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      margin-left: 3.125vw;

      h2 {
        font-size: 2vw;
        font-family: "Antonio", sans-serif;
        color: #fff;
        margin-bottom: 1.5vw;
        margin-top: 1.5vw;
      }

      .line {
        width: 70%;
        height: 2px;
        background-color: #4be1a4;
      }

      .chart {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin-top: 1vw;
          .text {
            text-transform: uppercase;
            font-family: "Antonio", sans-serif;
            font-size: 1.4vw;
            color: #fff;
            margin-bottom: 1vw;
          }
        }
        .chart__stick {
          margin-top: 1.2vw;
          margin-left: 2.5vw;
          .first__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: #fff;
            margin-bottom: 18px;
          }

          .second__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 30%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
          .third__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 70%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }

      p {
        color: #fff;
        font-size: 1vw;
        margin-top: 1.2vw;
        line-height: 1.5;
      }
    }
  }
}

.modal__sky {
  font-family: "SCoreDream";
  opacity: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 3%;
  width: 48vw;
  height: 38vw;
  border: 3px solid #62ffff;
  background-color: #000;
  z-index: 10;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .modal__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    h3 {
      color: #fff;
      font-family: "Antonio", sans-serif;
      font-size: 1.5vw;
      margin-left: 1vw;
    }

    button {
      font-size: 1.3vw;
      width: 8vw;
      height: 2vw;
      padding-right: 0.5vw;
      padding-left: 0.5vw;
      margin-right: 10px;
      font-family: "Antonio", sans-serif;
      background-color: rgba(98, 255, 255, 0.3);
      border: 2px solid #62ffff;
      color: #fff;
      line-height: 50%;
      cursor: pointer;
    }
  }
  .top__line {
    background-image: url(../assets/image/modal/top__line_sky.svg);
    width: 100vw;
    height: 10px;
    position: absolute;
    top: 3vw;
    left: 1vw;
    background-repeat: no-repeat;
  }

  .modal__cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .modal__item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      margin-left: 3.125vw;

      h2 {
        font-size: 2vw;
        font-family: "Antonio", sans-serif;
        color: #fff;
        margin-bottom: 1.5vw;
        margin-top: 1.5vw;
      }

      .line {
        width: 70%;
        height: 2px;
        background-color: #62ffff;
      }

      .chart {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin-top: 1vw;
          .text {
            text-transform: uppercase;
            font-family: "Antonio", sans-serif;
            font-size: 1.4vw;
            color: #fff;
            margin-bottom: 1vw;
          }
        }
        .chart__stick {
          margin-top: 1.2vw;
          margin-left: 2.5vw;
          .first__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: #fff;
            margin-bottom: 18px;
          }

          .second__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 30%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
          .third__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 70%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }

      p {
        color: #fff;
        font-size: 1vw;
        margin-top: 1.2vw;
        line-height: 1.5;
      }
    }
  }
}

.modal__blue {
  font-family: "SCoreDream";
  // opacity: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 3%;
  width: 48vw;
  height: 38vw;
  border: 3px solid #8061ff;
  background-color: #000;
  z-index: 10;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .modal__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    h3 {
      color: #fff;
      font-family: "Antonio", sans-serif;
      font-size: 1.5vw;
      margin-left: 1vw;
    }

    button {
      font-size: 1.3vw;
      width: 8vw;
      height: 2vw;
      padding-right: 0.5vw;
      padding-left: 0.5vw;
      margin-right: 10px;
      font-family: "Antonio", sans-serif;
      background-color: rgba(128, 97, 255, 0.3);
      border: 2px solid #8061ff;
      color: #fff;
      line-height: 50%;
      cursor: pointer;
    }
  }
  .top__line {
    background-image: url(../assets/image/modal/top__line_blue.svg);
    width: 100vw;
    height: 10px;
    position: absolute;
    top: 3vw;
    left: 1vw;
    background-repeat: no-repeat;
  }

  .modal__cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    .modal__item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      margin-left: 3.125vw;

      h2 {
        font-size: 2vw;
        font-family: "Antonio", sans-serif;
        color: #fff;
        margin-bottom: 1.5vw;
        margin-top: 1.5vw;
      }

      .line {
        width: 70%;
        height: 2px;
        background-color: #8061ff;
      }

      .chart {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin-top: 1vw;
          .text {
            text-transform: uppercase;
            font-family: "Antonio", sans-serif;
            font-size: 1.4vw;
            color: #fff;
            margin-bottom: 1vw;
          }
        }
        .chart__stick {
          margin-top: 1.2vw;
          margin-left: 2.5vw;
          .first__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: #fff;
            margin-bottom: 18px;
          }

          .second__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 30%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
          .third__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 70%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }

      p {
        color: #fff;
        font-size: 1vw;
        margin-top: 1.2vw;
        line-height: 1.5;
      }
    }
  }
}

.modal__vio {
  font-family: "SCoreDream";
  // opacity: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 3%;
  width: 48vw;
  height: 38vw;
  border: 3px solid #d271fe;
  background-color: #000;
  z-index: 10;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .modal__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    h3 {
      color: #fff;
      font-family: "Antonio", sans-serif;
      font-size: 1.5vw;
      margin-left: 1vw;
    }

    button {
      font-size: 1.3vw;
      width: 8vw;
      height: 2vw;
      padding-right: 0.5vw;
      padding-left: 0.5vw;
      margin-right: 10px;
      font-family: "Antonio", sans-serif;
      background-color: rgba(210, 113, 254, 0.3);
      border: 2px solid #d271fe;
      color: #fff;
      line-height: 50%;
      cursor: pointer;
    }
  }
  .top__line {
    background-image: url(../assets/image/modal/top__line_vio.svg);
    width: 100vw;
    height: 10px;
    position: absolute;
    top: 3vw;
    left: 1vw;
    background-repeat: no-repeat;
  }

  .modal__cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    .modal__item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      margin-left: 3.125vw;

      h2 {
        font-size: 2vw;
        font-family: "Antonio", sans-serif;
        color: #fff;
        margin-bottom: 1.5vw;
        margin-top: 1.5vw;
      }

      .line {
        width: 70%;
        height: 2px;
        background-color: #d271fe;
      }

      .chart {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin-top: 1vw;
          .text {
            text-transform: uppercase;
            font-family: "Antonio", sans-serif;
            font-size: 1.4vw;
            color: #fff;
            margin-bottom: 1vw;
          }
        }
        .chart__stick {
          margin-top: 1.2vw;
          margin-left: 2.5vw;
          .first__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: #fff;
            margin-bottom: 18px;
          }

          .second__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 30%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
          .third__stick {
            width: 25vw;
            height: 1.3889vw;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 18px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 70%;
              height: 1.3889vw;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }

      p {
        color: #fff;
        font-size: 1vw;
        margin-top: 1.2vw;
        line-height: 1.5;
      }
    }
  }
}

.modal__pink_Slider,
.modal__pink_GSAP {
  @extend .modal__pink;
}

.modal__org_Team,
.modal__org_Game {
  @extend .modal__org;
}

.modal__yel_vue,
.modal__yel_site {
  @extend .modal__yel;
}

.modal__mint_Next,
.modal__mint_Ani {
  @extend .modal__mint;
}

.modal__sky_parallax,
.modal__sky_mouse {
  @extend .modal__sky;
}

.modal__blue_Blog,
.modal__blue_Quiz {
  @extend .modal__blue;
}

.modal__vio_react,
.modal__vio_search {
  @extend .modal__vio;
}
