#site_coding {
  width: 100%;

  .wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 3vw;

    .read__top {
      display: flex;
      flex-wrap: wrap;
      align-content: center;

      h1 {
        color: #d7fb01;
        font-family: "Orbitron", sans-serif;
        font-size: 8vw;
        margin-left: 2vw;
        margin-top: 3vw;
      }

      .top-line {
        width: 100%;
        height: 3px;
        background-color: #d7fb01;
        position: relative;
        margin-left: 2vw;

        &::after {
          content: "";
          position: absolute;
          width: 3px;
          height: 15px;
          top: 3px;
          left: 0;
          background-color: #d7fb01;
        }
      }
    }
    .site__Item {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5vw;
      margin: 2vw 2vw 0 2.5vw;
      justify-content: right;
      margin-bottom: 3vw;
      margin-right: 3vw;

      .box__wrap {
        font-family: "Aldrich";
        .name {
          display: inline-block;
          border: 2px solid #d7fb01;
          border-radius: 10px;
          color: #d7fb01;
          padding: 0.5vw 1vw 5vw 1vw;

          h5 {
            text-transform: uppercase;
          }
        }

        .view__box {
          width: 34vw;
          height: 20.8333vw;
          margin-top: -5vw;
          margin-bottom: 5vw;
          img {
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: 2px solid #d7fb01;
            border-radius: 0 10px 10px 10px;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          }
          .view__desc {
            display: block;
            color: #fff;
            font-size: 2vw;
            margin-bottom: 5vw;
            padding: 0.5vw;
            text-transform: uppercase;
          }
        }
      }
    }

    .bottom-line {
      width: 98%;
      height: 3px;
      background-color: #d7fb01;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 15px;
        top: -15px;
        right: 0;
        background-color: #d7fb01;
      }
    }
  }
}
