#workDetail {
  position: relative;

  #parallax {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1500%;
    height: 100vh;
    margin-bottom: 3vw;

    .read__top {
      display: flex;
      // flex-wrap: wrap;
      align-content: center;
      margin-bottom: 1.5vw;
      .title {
        color: #ff49b8;
        font-family: "Antonio", sans-serif;
        font-size: 2.0833vw;
        padding-top: 1vw;
        margin-left: 15vw;
      }
    }

    .display {
      border-top: 3px solid #ff49b8;
      display: flex;
      font-family: "GoYangIlSan";

      .display__box__pink {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 1vw;
        margin-right: 10vw;

        .display__img__pink {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5vw;
          position: relative;
          img {
            width: 80vw;
          }
        }

        .display__title__pink {
          position: absolute;
          color: #fff;
          z-index: 10;
          left: 7vw;
          bottom: -5vw;
          .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            P {
              font-family: "excluded";
              font-size: 2vw;
              line-height: 1.5;
            }

            button {
              font-size: 20px;
              width: 8vw;
              height: 2vw;
              padding-right: 0.5vw;
              padding-left: 0.5vw;
              font-family: "Antonio", sans-serif;
              margin-right: 2vw;
              background-color: rgba(255, 73, 184, 0.3);
              // line-height: 2;
              border: 2px solid #ff49b8;
              color: #fff;
              cursor: pointer;
            }
          }
          span {
            font-size: 4vw;
            font-family: "Antonio", sans-serif;
            margin-top: -3vw;
          }
        }
        .display__btn__pink {
          position: absolute;
          bottom: -3.5vw;
          right: 10vw;
          display: flex;
          margin-top: 3vw;

          .siteBtn {
            background-color: #ff49b8;
            font-size: 2.0833vw;
            width: 12vw;
            height: 3vw;
            border-radius: 50px;
            margin-right: 1vw;

            a {
              font-family: "Antonio", sans-serif;
            }
          }
          .codeBtn {
            width: 12vw;
            height: 3vw;
            background-color: rgba(255, 73, 184, 0.3);
            border: 3px solid #ff49b8;
            border-radius: 5px;

            a {
              font-family: "Antonio", sans-serif;
              font-size: 2.0833vw;
              color: #fff;
            }
          }
        }
      }

      .display__box__org {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 1vw;
        margin-right: 10vw;

        .display__img__org {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5vw;
          position: relative;
          img {
            width: 80vw;
          }
        }

        .display__title__org {
          position: absolute;
          color: #fff;
          z-index: 10;
          text-align: right;
          top: 2vw;
          right: 6vw;
          P {
            font-family: "excluded";
            font-size: 2.0833vw;
          }
          span {
            font-size: 5.5556vw;
            font-family: "Antonio", sans-serif;
            margin-top: -3vw;
          }
        }

        .display__desc__org {
          p {
            font-size: 1vw;
            color: #f46900;
            font-family: "GoYangIlSan";
            position: absolute;
            z-index: 10;
            left: 7vw;
            bottom: -3vw;
          }
        }

        .display__btn__org {
          position: absolute;
          bottom: -3.5vw;
          right: 10vw;
          display: flex;
          margin-top: 3vw;

          .siteBtn {
            background-color: #f46900;
            font-size: 2.0833vw;
            width: 12vw;
            height: 3vw;
            border-radius: 50px;
            margin-right: 1vw;

            a {
              font-family: "Antonio", sans-serif;
            }
          }
          .codeBtn {
            width: 12vw;
            height: 3vw;
            background-color: rgba(244, 105, 0, 0.3);
            border: 3px solid #f46900;
            border-radius: 5px;

            a {
              font-family: "Antonio", sans-serif;
              font-size: 2.0833vw;
              color: #fff;
            }
          }
        }
      }

      .display__box__yel {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 1vw;
        margin-right: 10vw;

        .display__img__yel {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5vw;
          position: relative;
          img {
            width: 80vw;
          }
        }

        .display__title__yel {
          position: absolute;
          color: #fff;
          z-index: 10;
          text-align: right;
          top: 2vw;
          right: 6vw;
          P {
            font-family: "excluded";
            font-size: 2.0833vw;
          }
          span {
            font-size: 5.5556vw;
            font-family: "Antonio", sans-serif;
            margin-top: -3vw;
          }
        }

        .display__desc__yel {
          p {
            font-size: 1vw;
            color: #d7fb01;
            font-family: "GoYangIlSan";
            position: absolute;
            z-index: 10;
            left: 7vw;
            bottom: -3vw;
          }
        }

        .display__btn__yel {
          position: absolute;
          bottom: -3.5vw;
          right: 7vw;
          display: flex;
          margin-top: 3vw;

          .siteBtn {
            background-color: #d7fb01;
            font-size: 2.0833vw;
            width: 12vw;
            height: 3vw;
            border-radius: 50px;
            margin-right: 1vw;

            a {
              font-family: "Antonio", sans-serif;
            }
          }
          .codeBtn {
            width: 12vw;
            height: 3vw;
            background-color: rgba(215, 251, 1, 0.3);
            border: 3px solid #d7fb01;
            border-radius: 5px;

            a {
              font-family: "Antonio", sans-serif;
              font-size: 2.0833vw;
              color: #fff;
            }
          }
        }
      }

      .display__box__mint {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 1vw;
        margin-right: 10vw;

        .display__img__mint {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5vw;
          position: relative;
          img {
            width: 80vw;
          }
        }

        .display__title__mint {
          position: absolute;
          color: #fff;
          z-index: 10;
          text-align: right;
          top: 2vw;
          right: 6vw;
          P {
            font-family: "excluded";
            font-size: 2.0833vw;
          }
          span {
            font-size: 5.5556vw;
            font-family: "Antonio", sans-serif;
            margin-top: -3vw;
          }
        }

        .display__desc__mint {
          p {
            font-size: 1vw;
            color: #4be1a4;
            font-family: "GoYangIlSan";
            position: absolute;
            z-index: 10;
            left: 7vw;
            bottom: -3vw;
          }
        }

        .display__btn__mint {
          position: absolute;
          bottom: -3.5vw;
          right: 10vw;
          display: flex;
          margin-top: 3vw;

          .siteBtn {
            background-color: #4be1a4;
            font-size: 2.0833vw;
            width: 12vw;
            height: 3vw;
            border-radius: 50px;
            margin-right: 1vw;

            a {
              font-family: "Antonio", sans-serif;
            }
          }
          .codeBtn {
            width: 12vw;
            height: 3vw;
            background-color: rgba(75, 225, 164, 0.3);
            border: 3px solid #4be1a4;
            border-radius: 5px;

            a {
              font-family: "Antonio", sans-serif;
              font-size: 2.0833vw;
              color: #fff;
            }
          }
        }
      }

      .display__box__sky {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 1vw;
        margin-right: 10vw;

        .display__img__sky {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5vw;
          position: relative;
          img {
            width: 80vw;
          }
        }

        .display__title__sky {
          position: absolute;
          color: #fff;
          z-index: 10;
          text-align: right;
          top: 2vw;
          right: 6vw;
          P {
            font-family: "excluded";
            font-size: 2.0833vw;
          }
          span {
            font-size: 5.5556vw;
            font-family: "Antonio", sans-serif;
            margin-top: -3vw;
          }
        }

        .display__desc__sky {
          p {
            font-size: 1vw;
            color: #62ffff;
            font-family: "GoYangIlSan";
            position: absolute;
            z-index: 10;
            left: 7vw;
            bottom: -3vw;
          }
        }

        .display__btn__sky {
          position: absolute;
          bottom: -3.5vw;
          right: 10vw;
          display: flex;
          margin-top: 3vw;

          .siteBtn {
            background-color: #62ffff;
            font-size: 2.0833vw;
            width: 12vw;
            height: 3vw;
            border-radius: 50px;
            margin-right: 1vw;

            a {
              font-family: "Antonio", sans-serif;
            }
          }
          .codeBtn {
            width: 12vw;
            height: 3vw;
            background-color: rgba(98, 255, 255, 0.3);
            border: 3px solid #62ffff;
            border-radius: 5px;

            a {
              font-family: "Antonio", sans-serif;
              font-size: 2.0833vw;
              color: #fff;
            }
          }
        }
      }

      .display__box__blue {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 1vw;
        margin-right: 10vw;

        .display__img__blue {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5vw;
          position: relative;
          img {
            width: 80vw;
          }
        }

        .display__title__blue {
          position: absolute;
          color: #fff;
          z-index: 10;
          text-align: right;
          top: 2vw;
          right: 6vw;
          P {
            font-family: "excluded";
            font-size: 2.0833vw;
          }
          span {
            font-size: 5.5556vw;
            font-family: "Antonio", sans-serif;
            margin-top: -3vw;
          }
        }

        .display__desc__blue {
          p {
            font-size: 1vw;
            color: #8061ff;
            font-family: "GoYangIlSan";
            position: absolute;
            z-index: 10;
            left: 7vw;
            bottom: -3vw;
          }
        }

        .display__btn__blue {
          position: absolute;
          bottom: -3.5vw;
          right: 10vw;
          display: flex;
          margin-top: 3vw;

          .siteBtn {
            background-color: #8061ff;
            font-size: 2.0833vw;
            width: 12vw;
            height: 3vw;
            border-radius: 50px;
            margin-right: 1vw;

            a {
              font-family: "Antonio", sans-serif;
            }
          }
          .codeBtn {
            width: 12vw;
            height: 3vw;
            background-color: rgba(128, 97, 255, 0.3);
            border: 3px solid #8061ff;
            border-radius: 5px;

            a {
              font-family: "Antonio", sans-serif;
              font-size: 2.0833vw;
              color: #fff;
            }
          }
        }
      }

      .display__box__vio {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 1vw;
        margin-right: 10vw;

        .display__img__vio {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5vw;
          position: relative;
          img {
            width: 80vw;
          }
        }

        .display__title__vio {
          position: absolute;
          color: #fff;
          z-index: 10;
          text-align: right;
          top: 2vw;
          right: 6vw;
          P {
            font-family: "excluded";
            font-size: 2.0833vw;
          }
          span {
            font-size: 5.5556vw;
            font-family: "Antonio", sans-serif;
            margin-top: -3vw;
          }
        }

        .display__desc__vio {
          p {
            font-size: 1vw;
            color: #d271fe;
            font-family: "GoYangIlSan";
            position: absolute;
            z-index: 10;
            left: 7vw;
            bottom: -3vw;
          }
        }

        .display__btn__vio {
          position: absolute;
          bottom: -3.5vw;
          right: 10vw;
          display: flex;
          margin-top: 3vw;

          .siteBtn {
            background-color: #d271fe;
            font-size: 2.0833vw;
            width: 12vw;
            height: 3vw;
            border-radius: 50px;
            margin-right: 1vw;

            a {
              font-family: "Antonio", sans-serif;
            }
          }
          .codeBtn {
            width: 12vw;
            height: 3vw;
            background-color: rgba(210, 113, 254, 0.3);
            border: 3px solid #d271fe;
            border-radius: 5px;

            a {
              font-family: "Antonio", sans-serif;
              font-size: 2.0833vw;
              color: #fff;
            }
          }
        }
      }
    }

    .bottom__line {
      height: 22px;
      width: 100%;
      background-image: url(../assets/image/workread/bottom__line_pink.svg);
      bottom: 1vw;
      position: absolute;
    }
  }
}
