#parallax {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1000%;
  height: 100vh;
  margin-bottom: 3vw;

  .read__top {
    display: flex;
    // flex-wrap: wrap;
    align-content: center;
    margin-bottom: 1.5vw;
    .title {
      color: #ff49b8;
      font-family: "Antonio", sans-serif;
      font-size: 2.0833vw;
      padding-top: 1vw;
      margin-left: 18vw;
    }
  }

  .display {
    border-top: 3px solid #ff49b8;
    display: flex;
    font-family: "GoYangIlSan";

    .display__box__m1 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m1 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m1 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m1 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }

    .display__box__m2 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m2 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m2 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m2 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }

    .display__box__m3 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m3 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m3 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m3 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }

    .display__box__m4 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m4 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m4 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m4 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }

    .display__box__m5 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m5 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m5 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m5 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m5 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }

    .display__box__m6 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m6 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m6 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m6 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m6 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }

    .display__box__m7 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m7 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m7 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m7 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m7 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }

    .display__box__m8 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m8 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m8 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m8 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m8 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }

    .display__box__m9 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m9 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m9 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m9 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m9 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }

    .display__box__m10 {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 20vw;
      .display__img__m10 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vw;
        position: relative;
        img {
          width: 80vw;
        }
      }

      .display__title__m10 {
        position: absolute;
        color: #fff;
        z-index: 10;
        text-align: right;
        top: 2vw;
        right: 12vw;
        P {
          font-family: "excluded";
          font-size: 2.0833vw;
        }
        span {
          font-size: 5.5556vw;
          font-family: "Antonio", sans-serif;
          margin-top: -3vw;
        }
      }

      .display__desc__m10 {
        p {
          font-size: 1vw;
          color: #ff49b8;
          font-family: "GoYangIlSan";
          position: absolute;
          z-index: 10;
          left: 10vw;
          bottom: -3vw;
        }
      }

      .display__btn__m10 {
        position: absolute;
        bottom: -3.5vw;
        right: 15vw;
        display: flex;
        margin-top: 3vw;

        .siteBtn {
          background-color: #ff49b8;
          font-size: 2.0833vw;
          width: 12vw;
          height: 3vw;
          border-radius: 50px;
          margin-right: 1vw;

          a {
            font-family: "Antonio", sans-serif;
          }
        }
        .codeBtn {
          width: 12vw;
          height: 3vw;
          background-color: rgba(255, 73, 184, 0.3);
          border: 3px solid #ff49b8;
          border-radius: 5px;

          a {
            font-family: "Antonio", sans-serif;
            font-size: 2.0833vw;
            color: #fff;
          }
        }
      }
    }
  }

  .bottom__line {
    height: 22px;
    width: 1000%;
    background-image: url(../assets/image/workread/bottom__line_pink.svg);
    bottom: 1vw;
    position: absolute;
  }
}
