.port__pink_v {
  position: absolute;
  top: 0;
  left: 1%;
  width: 12vw;
  height: 3.5vw;
  line-height: 1.7;
  border: 0.2083vw solid #e418ff;
  background-color: rgba(228, 24, 255, 0.3);
  text-align: center;
  font-size: 1.7vw;
  color: #e418ff;
  margin: 1vw;
  font-family: "Aldrich", sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #e418ff, 0 0 0.5em #e418ff,
    0 0 0.1em #e418ff, 0 10px 3px #000;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  span {
    animation: blink linear infinite 3s;
  }
  span:nth-of-type(2) {
    animation: blink linear infinite 5s;
  }
  span:nth-of-type(3) {
    animation: blink linear infinite 8s;
  }
  span:nth-of-type(4) {
    animation: blink linear infinite 7s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

.port__pink {
  position: absolute;
  top: 0;
  left: 1vw;
  width: 12vw;
  height: 3.5vw;
  line-height: 1.7;
  border: 0.2083vw solid #ff49b8;
  background-color: rgba(255, 73, 184, 0.3);
  text-align: center;
  font-size: 1.7vw;
  color: #ff49b8;
  margin: 1vw;
  font-family: "Aldrich", sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff49b8, 0 0 0.5em #ff49b8,
    0 0 0.1em #ff49b8, 0 10px 3px #000;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  span {
    animation: blink linear infinite 3s;
  }
  span:nth-of-type(2) {
    animation: blink linear infinite 5s;
  }
  span:nth-of-type(3) {
    animation: blink linear infinite 8s;
  }
  span:nth-of-type(4) {
    animation: blink linear infinite 7s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

.port__org {
  position: absolute;
  top: 0;
  left: 1%;
  width: 12vw;
  height: 3.5vw;
  line-height: 1.7;
  border: 0.2083vw solid #f46900;
  background-color: rgba(244, 105, 0, 0.3);
  text-align: center;
  font-size: 1.7vw;
  color: #f46900;
  margin: 1vw;
  font-family: "Aldrich", sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f46900, 0 0 0.5em #f46900,
    0 0 0.1em #f46900, 0 10px 3px #000;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  span {
    animation: blink linear infinite 3s;
  }
  span:nth-of-type(2) {
    animation: blink linear infinite 5s;
  }
  span:nth-of-type(3) {
    animation: blink linear infinite 8s;
  }
  span:nth-of-type(4) {
    animation: blink linear infinite 7s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

.port__yel {
  position: absolute;
  top: 0;
  left: 1%;
  width: 12vw;
  height: 3.5vw;
  line-height: 1.7;
  border: 0.2083vw solid #d7fb01;
  background-color: rgba(215, 251, 1, 0.3);
  text-align: center;
  font-size: 1.7vw;
  color: #d7fb01;
  margin: 1vw;
  font-family: "Aldrich", sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d7fb01, 0 0 0.5em #d7fb01,
    0 0 0.1em #d7fb01, 0 10px 3px #000;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  span {
    animation: blink linear infinite 3s;
  }
  span:nth-of-type(2) {
    animation: blink linear infinite 5s;
  }
  span:nth-of-type(3) {
    animation: blink linear infinite 8s;
  }
  span:nth-of-type(4) {
    animation: blink linear infinite 7s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

.port__mint {
  position: absolute;
  top: 0;
  left: 1%;
  width: 12vw;
  height: 3.5vw;
  line-height: 1.7;
  border: 0.2083vw solid #4be1a4;
  background-color: rgba(75, 225, 164, 0.3);
  text-align: center;
  font-size: 1.7vw;
  color: #4be1a4;
  margin: 1vw;
  font-family: "Aldrich", sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4be1a4, 0 0 0.5em #4be1a4,
    0 0 0.1em #4be1a4, 0 10px 3px #000;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  span {
    animation: blink linear infinite 3s;
  }
  span:nth-of-type(2) {
    animation: blink linear infinite 5s;
  }
  span:nth-of-type(3) {
    animation: blink linear infinite 8s;
  }
  span:nth-of-type(4) {
    animation: blink linear infinite 7s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

.port__sky {
  position: absolute;
  top: 0;
  left: 1%;
  width: 12vw;
  height: 3.5vw;
  line-height: 1.7;
  border: 0.2083vw solid #62ffff;
  background-color: rgba(98, 255, 255, 0.3);
  text-align: center;
  font-size: 1.7vw;
  color: #62ffff;
  margin: 1vw;
  font-family: "Aldrich", sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #62ffff, 0 0 0.5em #62ffff,
    0 0 0.1em #62ffff, 0 10px 3px #000;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  span {
    animation: blink linear infinite 3s;
  }
  span:nth-of-type(2) {
    animation: blink linear infinite 5s;
  }
  span:nth-of-type(3) {
    animation: blink linear infinite 8s;
  }
  span:nth-of-type(4) {
    animation: blink linear infinite 7s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

.port__blue {
  position: absolute;
  top: 0;
  left: 1%;
  width: 12vw;
  height: 3.5vw;
  line-height: 1.7;
  border: 0.2083vw solid #8061ff;
  background-color: rgba(128, 97, 255, 0.3);
  text-align: center;
  font-size: 1.7vw;
  color: #8061ff;
  margin: 1vw;
  font-family: "Aldrich", sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #8061ff, 0 0 0.5em #8061ff,
    0 0 0.1em #8061ff, 0 10px 3px #000;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  span {
    animation: blink linear infinite 3s;
  }
  span:nth-of-type(2) {
    animation: blink linear infinite 5s;
  }
  span:nth-of-type(3) {
    animation: blink linear infinite 8s;
  }
  span:nth-of-type(4) {
    animation: blink linear infinite 7s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

.port__vio {
  position: absolute;
  top: 0;
  left: 1%;
  width: 12vw;
  height: 3.5vw;
  line-height: 1.7;
  border: 0.2083vw solid #d271fe;
  background-color: rgba(210, 113, 254, 0.3);
  text-align: center;
  font-size: 1.7vw;
  color: #d271fe;
  margin: 1vw;
  font-family: "Aldrich", sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d271fe, 0 0 0.5em #d271fe,
    0 0 0.1em #d271fe, 0 10px 3px #000;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  span {
    animation: blink linear infinite 3s;
  }
  span:nth-of-type(2) {
    animation: blink linear infinite 5s;
  }
  span:nth-of-type(3) {
    animation: blink linear infinite 8s;
  }
  span:nth-of-type(4) {
    animation: blink linear infinite 7s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

#space {
  width: 100%;
  height: 50vh;
  background-color: #000;
}

//간격
.mL-1 {
  margin-left: 1vw !important;
}
.mL-2 {
  margin-left: 2vw !important;
}
.mL-3 {
  margin-left: 3vw !important;
}
.mL-4 {
  margin-left: 4vw !important;
}
.mL-5 {
  margin-left: 5vw !important;
}
.mL-6 {
  margin-left: 6vw !important;
}
.mL-7 {
  margin-left: 7vw !important;
}
.mL-8 {
  margin-left: 8vw !important;
}
.mL-9 {
  margin-left: 9vw !important;
}
.mL-10 {
  margin-left: 10vw !important;
}

.mR-1 {
  margin-right: 1vw !important;
}
.mR-2 {
  margin-right: 2vw !important;
}
.mR-3 {
  margin-right: 3vw !important;
}
.mR-4 {
  margin-right: 4vw !important;
}
.mR-5 {
  margin-right: 5vw !important;
}
.mR-6 {
  margin-right: 6vw !important;
}
.mR-7 {
  margin-right: 7vw !important;
}
.mR-8 {
  margin-right: 8vw !important;
}
.mR-9 {
  margin-right: 9vw !important;
}
.mR-10 {
  margin-right: 10vw !important;
}

.mT-1 {
  margin-top: 1vw !important;
}
.mT-2 {
  margin-top: 2vw !important;
}
.mT-3 {
  margin-top: 3vw !important;
}
.mT-4 {
  margin-top: 4vw !important;
}
.mT-5 {
  margin-top: 5vw !important;
}
.mT-6 {
  margin-top: 6vw !important;
}
.mT-7 {
  margin-top: 7vw !important;
}
.mT-8 {
  margin-top: 8vw !important;
}
.mT-9 {
  margin-top: 9vw !important;
}
.mT-10 {
  margin-top: 10vw !important;
}

.mB-1 {
  margin-bottom: 1vw !important;
}
.mB-2 {
  margin-bottom: 2vw !important;
}
.mB-3 {
  margin-bottom: 3vw !important;
}
.mB-4 {
  margin-bottom: 4vw !important;
}
.mB-5 {
  margin-bottom: 5vw !important;
}
.mB-6 {
  margin-bottom: 6vw !important;
}
.mB-7 {
  margin-bottom: 7vw !important;
}
.mB-8 {
  margin-bottom: 8vw !important;
}
.mB-9 {
  margin-bottom: 9vw !important;
}
.mB-10 {
  margin-bottom: 10vw !important;
}

/* 스크롤바 전체 스타일링 */
::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  background-color: rgba(229, 73, 229, 0.5); /* 스크롤바 배경색 */
}

/* 스크롤바 thumb(스크롤바 핸들) 스타일링 */
::-webkit-scrollbar-thumb {
  background-color: #e549e5; /* 스크롤바 핸들 색상 */
  border-radius: 5px; /* 스크롤바 핸들의 모서리 반경 */
}

/* 스크롤바가 활성화되었을 때의 thumb 스타일링 */
::-webkit-scrollbar-thumb:hover {
  background-color: #fa00fa; /* 스크롤바 핸들 색상 (활성화 상태) */
}

/* 스크롤바 track(스크롤바 트랙) 스타일링 */
::-webkit-scrollbar-track {
  background-color: rgba(229, 73, 229, 0.1); /* 스크롤바 트랙 배경색 */
}
